html {
    background: #111;
    color: #5f8635;

}

#gdd {
    min-height: 100%;
    background: #cac4c4;
    margin-left: 16em;
    width: 70%;
    max-width: 50em;
}

#menu_bar ul {
    background: #111;
    border-bottom: 1px solid #222;
    padding-left: 0px;
}

h2{
    width:100%;
    border-top: 3px solid #c75c15;
    padding-top: 10px;
}

#menu_bar li,
#menu_bar h2 {
    display: block;
}

.black_box{
    background: #111;
}

li {
    list-style-type: square;
    margin-left: 1.5em;
}

#menu_bar h2 {
    color: white;
    text-align: right;
    padding: 5px;
    border-top: none;
    border-bottom: 3px solid #c75c15;
}

#menu_bar {
    box-shadow: 1px 0 0 #222;
    /*I need some line of code to stick the nav to the top of the browser window as you scroll
    so that it never disappears*/
    position: fixed;
    width: 16em;
    min-width: 150px;
    list-style-type: none;
    background: #a7ed4b;
    border-right: 2px solid #c75c15;
    color: black;
   
}

#menu_bar a {
    background: #111;
    border-bottom: 1px solid #000;
    border-top: 1px solid #222;
    box-shadow: inset -5px 0 0 hsla(0, 0%, 0%, .2), inset 0 20px 0 #161616;
    color: #bbb;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 -1px 1px hsla(0, 0%, 0%, .5);
    transition: all 300ms;
}

#menu_bar a:hover,
#menu_bar a:focus,
#menu_bar li.current a {
    background: #222;
    border-top-color: #3a3a3a;
    box-shadow: inset -5px 0 0 #c75c15, inset 0 20px 0 #282828;
    /*box-shadow: inset -5px 0 0 #3a3a3a, inset 0 20px 0 #282828;*/
    color: #ddd;
    outline: 0;
    padding: 0 30px;
    transition: all 300ms;
}

#menu_bar li.current a {
    box-shadow: inset -5px 0 0 #c75c15, inset 0 20px 0 #5f8635;
    /*box-shadow: inset -5px 0 0 #e00, inset 0 20px 0 #282828;*/
    padding: 0 45px;
}

#menu_bar a:active {
    background: #333;
    border-top-color: #666;
    box-shadow: inset -5px 0 0 #666, inset 0 20px 0 #444;
    color: #fff;
    transition: all 50ms;
}

#menu_bar li:first-child a {
    border-top: none;
}
#bot_space{
    width:100%;
    height: 30em;
}

@media only screen and (max-width: 640px){
  #menu_bar{
        width: 400px;
    }

    #menu_bar a {
        height: 100px;
    }
    #gdd{
        margin-left: 40em;
    }
}

@media only screen and (max-width: 360px){
 #menu_bar{
        width: 40em;
    }

    #menu_bar a {
        height: 100px;
    }
    #gdd{
        margin-left: 40em;
    }
}

